//== Variables
//
body.page-template-menu_and_footer-php{
$color-white: $light;
$color-white-darker: darken($color-white, 5%);
$color-white-darken: darken($color-white, 15%);
$header-height: 80px;
$nav-toggle-size: 2rem;
$nav-toggle-transition-speed: 0.3s;
$nav-transition-speed: 0.6s;
$nav-width: 50vw;
$zindex-header: 500;
header {
  height: $header-height;
  right: 0;
  padding: 0.5rem;
  position: fixed;
  text-align: right;
  top: 0;
  transition: transform $nav-transition-speed;
  width: 100%;
  z-index: $zindex-header;
}


.nav-wrapper {
  display: flex;
  justify-content: center;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $light;
  }
}

.nav-button {
  text-transform: uppercase;
}
@include for-phone-tablet-only {
  .nav-wrapper {
    background-color:   $down-header-no-opacity;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.75);
    height: 100%;
    padding-top: $header-height;
    perspective: 1000px;
    position: fixed;
    right: 0;
  top: 0;
    transform: translateX(100%);
    transition: transform $nav-transition-speed,
      visibility $nav-transition-speed;
    visibility: hidden;
    width: $nav-width;
    z-index:3;
    text-align: left;
    justify-content: flex-start;
    .nav-visible & {
      transform: translateX(0);
      visibility: visible;
    }
  }
  #menu-primary-menu {
    position: relative;
    transform: rotateY(90deg);
    transform-origin: left center;
    transition: transform $nav-transition-speed;
    padding: 0;
    .nav-visible & {
      transform: rotateY(0deg);
    }

    li {
      list-style: none;
      &.active {
        a {
          background-color: $dark-1;
        }
      }
      a {
        display: block;
        line-height: 1.4;
        padding: 0.7em 0.5em 0.7em 1.4em;
        text-transform: uppercase;
        text-decoration: none;
        &:focus,
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

//== Nav active marker
//
.nav-marker {
  background-color: currentColor;
  height: 2.8rem;
  position: absolute;
  right: 0;
  top: $header-height;
  width: 3px;

  &:before {
    border: 5px solid transparent;
    border-right-color: inherit;
    content: "";
    height: 0;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
  }
}

//== Menu toggle (hamburgen)
//
@mixin button-lines {
  background: $color-white;
  border-radius: calc($nav-toggle-size/10);
  display: inline-block;
  height: calc($nav-toggle-size/10);
  width: calc($nav-toggle-size);


}

.button-lines {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: calc($nav-toggle-size/2) calc($nav-toggle-size/4);
  user-select: none;
}

.lines {
  @include button-lines;
  position: relative;

  &:after,
  &:before {
    @include button-lines;
    content: "";
    left: 0;
    position: absolute;
  }

  &:after {
    top: calc($nav-toggle-size/4);
  }

  &:before {
    top: -0.5rem;
  }
}

.button-lines-x {
  .lines {
    transition: background 0.3s ease;
    z-index: 5;
    &:after,
    &:before {
      transform-origin: 50% 50% 0;
      transition: top 0.3s 0.4s ease, transform 0.3s ease;
    }
  }

  .nav-visible & {
    .lines {
      background: transparent;

      &:after,
      &:before {
        top: 0;
        transition: top 0.3s ease, transform 0.3s 0.3s ease;
      }

      &:after {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:before {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}

@include for-desktop {
  .nav-wrapper{
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 5;
    width:100%;
  }
  header {
    background-color:$dark-1-opacity;;
    z-index:1;
    display: flex;
    
    align-items: center;
    a {
      padding: 1em;
      margin: 0.5em;

      font-weight: 600;
    }
    &.down{
      height:35px;
     background-color: $down-header-no-opacity;
    }
    .button-lines {
      display: none;
    }

    #menu-primary-menu {
      padding-left: 0px;
   
    }
  }
  #menu-primary-menu,
  h1 {
    display: flex;
    
  }
  #menu-primary-menu{
    justify-content: end;
  }
  h1{
    justify-content: center;
  }
header,.nav-wrapper a{
  transition: all 0.6s ease-in-out;
}

}
}