@mixin for-phone-tablet-only {
    @media (max-width: 990px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-desktop {
    @media (min-width: 991px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
    
  $dark: #03001C;
  $dark-opacity:#03001c79;
  $dark-1: #301E67;
  $dark-1-opacity: #301e67c2;
  $blue: #4B63AD;
  $light: #B6EADA;
  $margin: 0.5rem 0;
  body{
    background-color: $dark;
}
