@mixin for-phone-tablet-only {
    @media (max-width: 990px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-desktop {
    @media (min-width: 991px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
    
  $dark: #2a1b3d;
  $dark-1: #44318d;
  $dark-1-opacity: #43318d7c;
  $blue: #e98074;
  $light: #a4b3b6;
  $margin: 0.5rem 0;
  body{
    background-color: $dark;
}
