@mixin for-phone-tablet-only {
    @media (max-width: 990px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-desktop {
    @media (min-width: 991px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
    
  $dark: #000000;
  $dark-opacity:#2a1b3d6c;
  $dark-1: #141333;
  $dark-1-opacity: #141333ef;
  $blue: #4B63AD;
  $light: #6C667A;
  $margin: 0.5rem 0;
  body{
    background-color: $dark;
}
