@import "mixins";
@import "header-footer";
@import "form";
@import "stars";
@font-face{
    font-family: monterrat;
    src: url(../../Montserrat-Regular.ttf)
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    padding:0 2em;
    font-family: "monterrat", sans-serif;
}

p{
    color:$blue;
    font-size: 1.5em;
    a{
        color:$light;
        &:hover{
            color:$blue;
        }
    }
}
p, h2{
    margin:$margin;
}
h2,h3{
    color:$light;
}
h2{ 
font-size: 3em;
display:flex;
align-items:center;

&.line:after{
    content: "";
    display: block;
    position: relative;
    top: 3px;
    width: 425px;
    height: 1px;
    margin-left: 20px;
    background-color: $blue;
} 
}
h5,h6{
    font-size: 1em;
}

h2,h5,h6{
     margin:1em auto;
    max-width: 1000px;
}
.wp-bootstrap-blocks-row.row{
    flex-direction: column;
    display: flex;
    margin:0 auto;
    @include for-desktop{
    flex-direction: row;
    }

 
}
.wp-block-buttons{
    margin: 0.7em 0;
    .wp-block-button{
   
    }
}
.wp-block-buttons .wp-block-button__link, .wpforms-submit{
    border-radius: 4px !important;
    background-color:transparent !important;
    border:2px solid $blue !important;
    color: $light !important;
}
.container-width, .custom-container{
  max-width: 1000px;
}    
.custom-container{
    min-height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
    padding:0px;
    justify-content: center;
    align-items: flex-start;
    &-row{
        flex-direction: row;
        align-items: center;
        
    }
    &-about{
        figure{
            margin: 0;
            img{
                border-radius: 50%;
            }
        }
        .wp-block-columns{
            align-items: center !important;
        }
    }
    &-1{
        // min-height: auto;
    }
    h2{
        margin-left:0;
    }
}

.experience-container{
    display:flex; 
    width: 100%; 
    border-radius:4px; 
    border:1px solid $dark-1;

.tab {
    // float: left;
    border-right: 2px solid $dark-1;
    background-color:$dark;
    width: 30%;
    // height: 300px;
    // border-radius: 4px 0px 0px 4px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: $light;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover, .tab button.active {
    background-color: $dark-1-opacity;
  }
  

  
  /* Style the tab content */
  .tabcontent {
    // float: left;
    padding: 0px 12px;
    // border: 1px solid $blue;
    width: 70%;
    border-left: none;
    // height: 300px;
    // border-radius: 0px 4px 4px 0px;
    li{
        color: $light;
    }
  }
}

// a{
//     padding:0;
//     min-height:300px;
//     &__background{
//         opacity: 0.2 !important;
//     }
//     @include for-desktop{
//         min-height:400px;
//     }
//     .wp-block-cover__inner-container{
//         background-color: rgba(42, 81, 187, 0.5);
//         position: absolute;
//         height:100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         p{
//             padding:0 1em;
//             color:white;
//         }
//     }

//     @include for-desktop{
//         min-height:400px;
//         overflow:hidden;
//         img{
//             transition: all 0.3s ease-in-out; 
//         }
//         &:hover{
//             img{
//                 transform: scale(1.1);
//             } 
//             .wp-block-cover__inner-container{
//                 background-color: #222831a6;
//             p{
//                 opacity: 1;
//             }
            
            
//         }
//         }
//         .wp-block-cover__inner-container{

//             background-color: transparent;
//             p{
//                 opacity: 0;
//             }
//             &,p{
//                 transition: all 0.5s ease-in-out;
//             }
//         }
//     }
// }


.wp-bootstrap-blocks-container_work{
    position: relative;
    margin-bottom: 5em;
    max-width: 1000px;
    
    figure{
        margin:0;
        .bg-color{
            background-color: $blue;
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            opacity: 0.5;
              transition: all 0.3s ease-in-out;
        }
    }
    .wp-block-image{
        img{
            width:100%;
            object-fit: cover;
            min-height: 400px;
            max-height: 450px;
        }

    }
    .info-container, figure img, .bg-color{
        border-radius: 8px;
    }
    .info-container{
        &_transition{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        // position:absolute;
        // top:0;
        // height:-webkit-fill-available;
        // width:-webkit-fill-available;
        // left:0;
        // padding:1em;
        h5{
            color:$dark;
        }
        h6{
            color:$light;
        }
        p{
            color:$light;
        }
        i{
            position: absolute;
            bottom:15px;
            right:15px;
            color:$light;
            font-size: 2em;
        }
    }

    @include for-desktop{
        a{
            display:contents;
        }
        figure{
            width:50%;
            position: relative;
        }
        .info-container{
            width: 60%;
            height:60%;
            margin: auto;
            position: absolute;
            top: 0; bottom: 0; 
            background-color: $dark-1;
            h5,h6{
                margin:1em 0;
            }
            &.no_content{
                h5,h6{
                    margin:12px 0;
                }
                h5{
                    font-size:2rem;
                }
                h6{
                    font-size:1.5rem;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &_box{
                p{
                    font-size:1em;
                    margin-left:0;
                }

            }
            .bg-color{
                width:50%;
              
            }
        }
        &_left{
            display: flex;
            flex-direction: row-reverse;
        }
    &_right{
        .info-container{
            right:0;
            left:auto;
        }
    }
        min-height:400px;
    .info-container{

        }
        img{
            transition: background-color 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;
        }
        h5,h6,p,&_transition{
            transition: all 0.3s ease-in-out;
        }
        &:hover{
                img,.bg-color,.info-container{
                    transform: scale(1.1);
                } 

        .info-container{
            background-color:$light ;
        }
        .bg-color{
            background-color: transparent;
        }
    }
    }

  
}